* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.btn {
  padding: 20px;
  margin: 40px;
  font-size: 35px;
  cursor: pointer;
}
.closemodel {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.modelcontainers {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: beige;
  top: 0;
  left: 0;
  display: none; /* hide initially */
  justify-content: center;
  align-items: center;
}
.modelbox {
  background: white;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
